In [2]:
import pyarrow as pa
import pandas as pd

In [9]:
df = pd.read_json("./climate.json")

In [10]:
# convert the date property to a datetime object
df["date"] = pd.to_datetime(df["date"])

In [11]:
df["year"] = df["year"].apply(lambda x: int(x))

In [12]:
df

       day  year                      date    temp      diff
0        0  1979 1979-01-01 05:00:00+00:00  12.311 -0.085091
1        1  1979 1979-01-02 05:00:00+00:00  12.293 -0.116182
2        2  1979 1979-01-03 05:00:00+00:00  12.274 -0.109136
3        3  1979 1979-01-04 05:00:00+00:00  12.230 -0.132273
4        4  1979 1979-01-05 05:00:00+00:00  12.273 -0.075727
...    ...   ...                       ...     ...       ...
16232  172  2023 2023-06-22 04:00:00+00:00  16.624  0.524273
16233  173  2023 2023-06-23 04:00:00+00:00  16.649  0.554773
16234  174  2023 2023-06-24 04:00:00+00:00  16.758  0.657773
16235  175  2023 2023-06-25 04:00:00+00:00  16.795  0.676045
16236  176  2023 2023-06-26 04:00:00+00:00  16.806  0.663318

[16237 rows x 5 columns]

In [14]:
df.to_parquet("./climate.parquet")